@import "./ncat";

* {
    scrollbar-width: none;
	-ms-overflow-style: none;
}

body {
    color: map-get($NCAT, "white");
}

// github markdown css
.markdown-body {
    pre > code { color: map-get($NCAT, "brightBlue")  !important }
    code { color: map-get($NCAT, "brightBlue")  !important }
    a { color: map-get($NCAT, "blue") !important }
}

// カーソルで選択したときの背景
::selection {
    color: map-get($NCAT, "black");
    background-color: map-get($NCAT, "selectionBackground");
}

// スクロールバー
::-webkit-scrollbar {
	display: none;
}

@each $key, $color in $NCAT {
    .color-bg-#{$key} {
        background-color: #{$color};
    }

    .color-fg-#{$key} {
        color: #{$color};
    }
}

@for $i from -10 through 10 {
    .z-index-#{$i} {
        z-index: #{$i};
    }
}
